In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.0 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd
import openpyxl

df = pd.read_excel('ai_competition_train_2.xlsx')
df = df.drop('Unnamed: 2', axis = 1)
df = df.rename(columns={'date': 'date', 'flux': 'OT'})
df = df.dropna()
df

           date        OT
0    2008-01-01   94.8000
1    2008-01-02   96.9300
2    2008-01-03   97.7100
3    2008-01-04   90.0900
4    2008-01-05   90.7400
...         ...       ...
5474 2022-12-27  120.4250
5475 2022-12-28  125.2050
5476 2022-12-29  126.9195
5477 2022-12-30  128.6340
5478 2022-12-31  143.6510

[4334 rows x 2 columns]

In [ ]:
df.to_csv('ai_competition_nonan.csv', index = False)

In [3]:
df2 = pd.read_excel('ai_competition_test.xlsx')
df2 = df2.rename(columns={'date': 'date', 'flux': 'OT'})
df2.to_csv('ai_competition_test.csv', index = False)